%h2 Tags
%h3 Add a Tag
= form_for @tag do |f|
  %div(class='span-24 prepend-top append-bottom panel')
    %div(class='span-6 colborder prepend-1')
      %h6 English
      = f.text_field :name
    %div(class='span-6 colborder')
      %h6 French
      = f.text_field :name_fr
    %div(class='span-6 colborder')
      %h6 Japanese
      = f.text_field :name_ja
    %div(class='span-2 last')
      %h6 &nbsp;
      = submit_tag('Add')
%hr.space
%h3 Tags List
%div(class='span-6 colborder prepend-1')
  %h6 English
%div(class='span-6 colborder')
  %h6 French
%div(class='span-9 last')
  %h6 Japanese
%hr
= render @tags